<img src="{{client.image}}" alt="" />

<h1>Welcome to your page: {{client.userName}}</h1>

<h3>Your details:</h3>
<ul>
  <li>User name: {{client.userName}}</li>
  <li>Email: {{client.email}}</li>

</ul>
<form action="/clients/edit-profile" method="get">
  <button>Edit your Profile </button>
</form>
<br />
<form action="/exercises/{{client._id}}/favourites" method="get">
  <button>Edit your Favorite Exercises</button>
</form>
<br />
<form action="/clients/{{client._id}}/client-insturctor" method="get">
  <button>Contact your Instructor</button>
</form>
