<h2>Your Workouts</h2>
        <a href="/workout/{{userId}}/create-new-workout">Add New Workout</a>
<div>
    {{#each workout}}
    <h4>{{workout.description}}</h4>
        {{#each workout.exercises}}
            <img src="{{workout.exercises.image}}" alt="image of {{workout.exercises.name}}" />
                 <h5>{{workout.exercises.name}}</h5>
                 <h4>{{workout.exercises.description}}</h4>
                 <label> Reps:
                 <h4>{{workout.exercises.reps}}</h4>
                 </label>
                 <label> Sets:
                 <h4>{{workout.exercises.reps}}</h4>
                 </label>
                <div>
                
                </div>
        {{/each}}
        <label>Comments:
    <textarea type="feedback" cols="30" rows="4">{{this.feedback}}</textarea>
    </label>
    {{/each}}
</div>
<br>
<br>
<h5> Thumbs Up</h5>

