<h1>Your Workouts</h1>


<div>

    <h2>Workouts To-do:</h2>
    {{#each workout}}
    {{#if toDo}}
    <form action="/client/{{id}}/complete-workout" method="POST">
        <h3>{{exercises.name}}</h3>
        <img src="{{exercises.image}}" alt="image of {{exercises.name}}" />
        <p><strong>Description:</strong> {{exercises.description}}</p>
        <p><strong>Instructors comments:</strong> {{description}}</p>
        <button>Complete</button>
    </form>
    
    {{/if}}
    {{/each}}
    

    <h1>Completed Workouts:</h1>
    {{#each workout}}
    {{#unless toDo}}

        <h4>{{exercises.name}}</h4>
        <p>Instructor's comments: {{description}}</p>
    {{/unless}}
    {{/each}}

    <form action="/client/homepage" method="get">
        <button>Return to homepage</button>
    </form>
</div>
<br>