<h2>Your Workouts</h2>

<div>
    {{#each workout}}
    {{#if toDo}}
                <form action="/client/{{id}}/workouts" method="POST">
                 <h5>{{exercises.name}}</h5>
                 <img src="{{exercises.image}}" alt="image of {{exercises.name}}" />
                 <h4>{{exercises.image}}</h4>
                 <h4>{{exercises.description}}</h4>
                 <h4>{{description}}</h4> 
                 <button>Complete</button> 
                 </form>
            {{/if}}
        {{/each}}

</div>
<br>
<br>
<h5> Thumbs Up</h5>

