<img src="{{client.image}}" alt="" />

<h1>{{client.userName}}</h1>


<h3>Your details:</h3>
<ul>
  <p>About <strong>{{client.userName}}</strong>: {{client.about}}</p>
  <li>User name: {{client.userName}}</li>
  <li>Email: {{client.email}}</li>

</ul>
<form action="/client/edit-profile" method="get">
  <button>Edit your Profile </button>
</form>
<br />
<form action="/exercises/{{client._id}}/favourites" method="get">
  <button>Edit your Favorite Exercises</button>
</form>
<br />
<form action="/client/{{client._id}}/client-insturctor" method="get">
  <button>Contact your Instructor</button>
</form>
