<h2>Your Workouts</h2>

<div>
    {{#each workout}}
                <form action="">
                 <h5>{{exercises.name}}</h5>
                 <img src="{{exercises.image}}" alt="image of {{exercises.name}}" />
                 <h4>{{exercises.image}}</h4>
                 <h4>{{exercises.description}}</h4>
                 <h4>{{description}}</h4> 
                 <button>Complete</button> 
                 </form>

        {{/each}}

</div>
<br>
<br>
<h5> Thumbs Up</h5>

