<div>
  <h1>List of exercises:</h1>
  {{#each exercises}}
    <img src="{{this.image}}" alt="image of {{this.name}}" />
    <h3>{{this.name}}</h3>
    <div>
      <a href="/exercises/{{this._id}}">More details!</a>
    </div>
    <form action="/exercises/favorites/{{this._id}}"method="POST">
    <button>Add to favorites </button>
    </form>
  {{/each}}
  <a href="/exercises/create">Create exercise!</a>
</div>