<div class="exercise-details">
  <img src="{{exeInfo.image}}" alt="image of exercise" />
  <h2>Exercise: {{exeInfo.name}}</h2>
  <h4>Category: {{category}}</h4>
  <p class="desc"><strong>Description: </strong>{{exeInfo.description}}</p>
  <p>Example amount of reps: {{exeInfo.reps}}</p>
  <p>Example amount of sets: {{exeInfo.sets}}</p>

  {{#if instructor}}
    <form action="/exercises/{{exeInfo._id}}/edit" method="get">
      <button>Edit exercise!</button>
    </form>

    <form action="/exercises/{{exeInfo_id}}/delete" method="POST">
      <button>Delete Exercise</button>
    </form>
  {{/if}}

  <form action="/exercises" method="get">
    <button>Return to all Exercises</button>
  </form>
</div>