<h1>Client List</h1>

<form action="/instructor/profile" method="get">
    <button>Return to profile page</button>
</form>

{{#each clients}}
    <div>
        <li>{{this.userName}}</h1>
        <li>{{this.email}}</h1>
        <li>{{this.role}}</h1>
        <li>{{this.userName}}</h1>
        <form action="/client/{{this._id}}/profile" method="get">
    <button>Your Profile</button>
</form>
    </ul><br>

    <form action="" method="get"></form>
    
{{/each}}