<div class="homepage-container xtra-margin">

  <img class="avatar" src="{{instructor.image}}" alt="" />
  <h1>Your Home Page: {{instructor.userName}}</h1>
  <form action="/instructor/profile" method="get">
    <button>Your Profile </button>
  </form>
  <h3>Your Clients:</h3>
  <div id="your-clients">
    {{#each instructor.clients}}
      <div id="instructor-clients-all">
        <div id="instructor-clients">
          <img class="avatar-2" src="{{image}}" alt="" />

        </div>

        <h4> {{userName}}</h4>
        <div class="instructor-clients">
          <div class="instructor-clients">
            <form action="/workout/{{id}}/view-workout" method="get">
              <button>Check workouts</button>
            </form>

            <form action="/workout/{{id}}/create-new-workout" method="get">
              <button class="btn-orange">Add new workouts</button>
            </form>
          </div>
        </div>
      </div>
    {{/each}}
  </div>
  <div class="instructor-add-clients">
    <form action="/instructor/{{instructor._id}}/add-client" method="post">Add
      Client
      <input name="email" placeholder="client email" />
      <button>Submit</button>
    </form>
    {{#if msg}}
      <p>{{msg}}</p>
    {{/if}}
  </div>

  <div>
    <div class="flex-center-row-wrap">
      <form action="/exercises" method="get">
        <button class="btn-orange">All Exercises </button>
      </form>

      <form action="/exercises/create" method="get">
        <button class="btn-orange">Create exercise!</button>
      </form>
    </div>

    <div>
      <form action="/instructor/{{instructor._id}}/workouts" method="get">
        <button>Go to workouts</button>
      </form>

      <form action="/auth/logout" method="GET">
        <button type="submit">Logout</button>
      </form>
    </div>
  </div>
</div>