<div>
  <img class="avatar" src="{{instructor.image}}" alt="profile picture" />
  <h1>Welcome to your page: {{instructor.userName}}</h1>

  <h3>Your details:</h3>

  <p><strong>User name: </strong>{{instructor.userName}}</p>
  <p><strong>Email: </strong>{{instructor.email}}</p>
  <p><strong>Role: </strong>{{instructor.role}}</p>

  <p><strong>About {{instructor.userName}}: </strong>{{instructor.about}}</p>
  <form action="/instructor/profile/edit" method="get">
    <button>Edit your profile</button>
  </form>

  {{#if message}}
    <p>{{message}}</p>
  {{/if}}
  {{#if errorMessage}}
    <p>{{errorMessage}}</p>
  {{/if}}
  <form action="/instructor/{{instructor._id}}/workouts" method="get">
    <button class="btn-orange">Go to workouts</button>
  </form>
  <form action="/auth/logout" method="GET">
    <button type="submit">Logout</button>
  </form>
</div>