

<h1>Welcome to your page: {{instructor.userName}}</h1>


<h3>Your details:</h3>
<ul>
    <li>User name: {{instructor.userName}}</li>
    <li>Email: {{instructor.email}}</li>
    <li>Role: {{instructor.role}}</li>
</ul>
<form action="/instructor/profile/edit" method="get">
    <button>Edit your profile</button>
</form>




<form action="/instructor/{{instructor._id}}/client-list" method="get">
    <button>Go to your client list</button>
</form>
<form action="/instructor/{{instructor._id}}/add-client" method="post">
    <input name="email" placeholder="client email">
    <button>Add client</button>
</form>
{{#if message}}
    <p>{{message}}</p>
{{/if}}
{{#if errorMessage}}
    <p>{{errorMessage}}</p>
{{/if}}
<form action="/instructor/{{instructor._id}}/workouts" method="get">
    <button>Go to workouts</button>
</form>
<form action="/auth/logout" method="GET">
    <button type="submit">Logout</button>
</form>